h1{
    background-color: lightblue;
}
h2{
    background-color: cyan;
}

.logo{
    display: flex;
    justify-content:center;


}
.logo img{
    border:5px double blue;
    background-color:lightcyan;
margin:15px;
padding:15px;
}
